*.o

bin/ring
bin/tool_gen_vmcode_doc

lex.yy.c
lex.yy.cpp

y.output
y.tab.c
y.tab.cpp
y.tab.h
y.tab.hpp

ring.bison.tab.c

automated-testing.sh.result

.idea/*

*tmp

.vimspector.session
.vimspector.json

.ccls-cache/*
.local_history/*

.DS_Store

.cache/*


ring.wiki/publish.sh


test/ring-测试用例表.md

ring-repl-history.txt
ring-rdb-history-command.txt