*.o

bin/ring

lex.yy.c

y.output
y.tab.c
y.tab.h

ring.bison.tab.c

automated-testing.sh.result

.idea/*

*tmp

.vimspector.session
.vimspector.json

.ccls-cache/*
.local_history/*

.DS_Store

.cache/*
