*.o

bin/ring

lex.yy.c
lex.yy.cpp

y.output
y.tab.c
y.tab.cpp
y.tab.h
y.tab.hpp

ring.bison.tab.c

automated-testing.sh.result

.idea/*

*tmp

.vimspector.session
.vimspector.json

.ccls-cache/*
.local_history/*

.DS_Store

.cache/*


ring.wiki/publish.sh